/* Tags */
header {
    height: 70px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CLASS BOOTSTRAP CHANGES */

.dropdown-item {
    margin-bottom: 10px;
}

.dropdown-item:hover {
    margin-bottom: 10px;
    background-color: #343a40;
    color: white;
}

/* Class */

.login {
    border: 1px solid lightgray;
    border-radius: 20px;
    margin-top: 50px;
    padding: 50px;
}

.content {
    padding: 50px 50px 50px 50px;
}

.itemClient {
    margin-right: 10px;
    border-bottom: 1px solid #343a40;
}


/* BUTTONS */

.btn-rollback {
    background-color: #0056b3;
    border-radius: 30px;
    color: white;
}

.btn-rollback:hover {
    background-color: darkslateblue;
    color: white;
}

.btn-default {
    background-color: lightsteelblue;
    border-radius: 30px;
}

.btn-info {
    border-radius: 30px;
}

.btn-update {
    background-color: darkslategrey;
    border-radius: 30px;
    color: white;
}

.btn-update:hover {
    background-color: lightslategrey;
    color: white;
}

/* END BUTTONS */

.name-menu {
    font-family: "Comic Sans MS", sans-serif;
    font-size:  20px;
    font-weight: 100;
    color: lightblue;
}

.form-content {
    border-radius: 30px;
}

.span-required {
    color: red;
}

.arrow {
    border: solid cornflowerblue;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}



.alert {
    border-radius: 30px;
    text-align: center;
}

.alert-success {
    background-color: lightblue;
}

.invisible {
    display: none;
}

.order-date{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.order-client {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.order-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.order-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.order-motorcycle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#loop-hr hr:last-child {
    display: none;
}

/* Responsive */
@media only screen and (max-width: 700px) {

    header {
        display: block;
        text-align: center;

        height: auto;
    }

    .order-date {
        display: block;
        text-align: center;
    }

    .order-client {
        display: block;
        text-align: center;
    }

    .order-contact {
        display: block;
    }

}